*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.navbar{
    width: 100%;
    height: 100px;
    background-color: white;
    

}
.navdiv{
    position: sticky;
    top: 0px;
    
}
.logo{
    
    background-size: cover;
    width: 100%;
    height: 88px;
    margin-left: 40px;
  
    
}
.flex{
    display: flex;
    list-style: none;
    justify-content: space-around;
    box-shadow: gray;
   
}
.flexbox{
    font-size: 18px;
    margin-top: 30px;
   
    justify-content: space-around;
   
   



}
.flexbox a{
    color: blue;
    text-decoration: none;

    display: inline-block;

}
.btn1{
    width: 100px;
    height: 50px;
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 30px;
}
.callbox{
    color: #f3842f;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid;
    text-decoration: none;
    line-height: 22px;
    text-align: center;
    margin-right: 39px;
}

/*slide*/

#slider{
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;

}
@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;

    }
    25%{
        left:-100%;

    }
    45%{
        left:-100%;

    }
    50%{
        left:-200%;

    }
    70%{
        left:-200%;

    }
    75%{
        left:-300%;

    }
    80%{
        left:-300%;

    }
    90%{
        left:0;
    }
    100%{
        left:0;

    }
    
}



.bluecontainer{
    height: 198px;
    width: 100%;
    background-color: #306598;
}
.bluecontainer p {
    color: white;
    margin-left: 30px;
    font-size: 37px;
    padding: 35px;

}
input{
    margin-left: 50px;
    width: 255px;
    height: 50px;
    text-align: center;
}
.btn2{
    margin-left: 20px;
    width: 270px;
    text-transform: uppercase;
    height: 50px; 
    text-align: center; 
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    color: white;
    border: none; 
    
}
.featuresection{
    height:400px;
    width: 100%;
    background-color: #f3f3f3;
    padding: 60px 0px ;



}
b{
    font-size: 35px ;
    margin-left: 490px;
    color: #306598;
}
.text{
    position: relative;
    left: 30px;
}
.lead{
    margin-left: 400px;
    padding: 20px;
    font-size: 18px
}

.overview{
    margin-top: 60px;
    margin-left: 50px;
    height: 700px;
    width: 100%;
    background-color: #ffffff;
    
}
.po{
    font-size: 28px;
    color: #306598;
}

img{
    float: left;
}

.check{
    color: #306598;
    
}
.r{
    padding: 10px;
}
.text{
    margin-right: 60px;
    margin-left: 60px;
    gap: 30px;
    height: 42px;
    font-size: 15px;
}
.btn3{
    gap: 20px;
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    color: white;
    border: none;
    width: 120px;
    height: 42px;
}
.moresection{
   width: 100%;
   height: 795px;
}
.lead2{
    margin-left: 100px;
    padding: 7px;
    font-size: 18px
}
.lead3{
    margin-left: 600px;
    padding: 7px;
    font-size: 18px
}
.box1{

    height: 78px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 100px;
}
.feature{
    margin-left: 50px;
    font-size: 20px;
    text-align: right;
}
.contentbox-left, .contentbox-right, li ,.box2{
    width: 100%;
    display: flex;
    list-style: none;
}


.contentbox{
    display: flex;
    background-color: #f8f8f8;
}
.box2{
    width: 100%;
    height: 78px;
    padding: 45px;
}
.text2{
    width: 152px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-left: 73px;
    margin-top: 10px;

}
.icon2{
    height:78px;
    width: 102px;
    margin-left: 73px;


}
.section{
    height: 372px;
    width: 100;

}
.stamp{
    
    height:246px ;
    width: 250px;
    margin-left: 520px;
    margin-top: 50px;
}
.stampcode {
margin-left: 30px;

font-weight: 700;
}
/* .line{
border: 0.01px solid;
 
} */
.line{
    width: 100%;
    height: 1px;
    
}
.des1,.des2{
margin-top: 30px;   
margin-left: 110px;
margin-right: 80px;
font-size: 16px;

}
.des3{
    margin-top: 30px;   
    margin-left: 110px;
    font-weight: 700;
}

/* card*/

.boxframe{
    width: 100%;
    height: 500px;
    display: flex;
}
.card{
    height: 253px;
    width: 300px;
    margin-left: 90px;
    margin-top: 50px;   
    font-size: 20px;
    border: 1px solid #ccc;
    border: none;
    box-shadow: 0px 0px 10px 3px #ccc;
    
}
.card1{
    width: 25%;
}
.card{
    margin-right: 10px;
}
.txt{
    margin-top: 86px;
    position: relative;
    right: 50px;
    color: #292929;

        
}
.txt1{
    margin-left: 76px;
    color: #292929;

}
.plot{
    margin-top: 30px;
    margin-left: 70px;

}
.pricelist{
    height: 135px;
    width: 970px;
}
.rate{
    font-size: 30px;
    color: #306598;
    padding-left: 550px;
    position: relative;
    bottom: 140px;
    font-weight: 700;

    
    
}
.line1{
    width: 1400px;
    height: 1px;

    
    border:none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
}

.avail{
    margin-left: 490px;
    color: #306598;
}


     /*table*/

     
.table-chart{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 348px;
    width: 1052px;
    border: none;


}

.tg  {
    text-align: center;
    vertical-align: top;
    color: #fff;
    background-color: #0059a1;
    background-color: #306598 ;
    padding: 15px 5px 10px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    
}
.unlock{
    height: 39px;
    width: 111px;
    border: none;
    margin-bottom: 0 ;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    
}
.lock{
    margin-right: 5px;
    color: yellow;
}
.tg-x{
    background-color: #eaeaea;
    border: none;
}
.scenery{
    background-image: url(Site\ visit\ slide\ 2.jpg);
    background-size: cover;
    width:801px;
    height: 590px;
    margin: auto;
}
.highlight-text{
    height: 155px;
    width: 1013px;

}
.highlight-text p{
    margin-top: 60px;
    margin-left: 430px;
    font-size: 32px;
    color: #306598;
    font-weight: 700;
}
.clipart{
    margin-left: 20px;
}
.btn4{
    width: 1030px;
    height: 140px;
}
.book-btn{

 width: 320px;
 height: 65px;
 margin-left: 500px;
 border-radius: 9px;
 background-image: linear-gradient(315deg, #f0af00 0%, #ffc820 74%);
 border: none;
 box-shadow: 0 25px 50px -12px rgb(175, 182, 185);
 font-size: 23px;
 font-weight: 700;
}
.high-feat{
        width: 1037px;
        height: 533px;
}
.featureII{
    width: 970px;
    height: 116px;
    margin-left: 240px;
}
.featureIII{
color: #306598;
font-size: 30px;
font-weight: 700;

}
.featureIV{
    color: #000000;
    margin-top: 20px;
    font-size: 19px;
    
    
}
.embeded-vedio{
    margin-left: 230px;
    display: flex;
}
.site-plan{
    height: 817px;
    width: 100%;
}
.site-style{
    color: #306598;
    margin-left: 570px;
    font-size: 35px;

}
.p-style{
    margin-left: 400px;
    margin-top: 20px;
    font-size: 18px;

}
.mapI{
    margin-top: 60px;
    margin-left: 300px;
    
}
.btn5{
    height: 65px;
    width: 100%;
}
.btn-five{
    /* height: 65px;
    width: 300px; */
    width: 320px;
 height: 65px;
 margin-left: 500px;
 border-radius: 9px;
 background-image: linear-gradient(315deg, #f0af00 0%, #ffc820 74%);
 border: none;
 box-shadow: 0 25px 50px -12px rgb(175, 182, 185);
 font-size: 23px;
 font-weight: 700;
 

}
.locate-plan{
    height: 678px;
    width: 100%;
}
.location{
    margin-top: 150px;
    color: #306598;
    margin-left: 90px;
    font-size: 35px;

}
.loc-p{
    margin-left: 320px;
    margin-top: 50px;
    font-size: 18px;  
    color: #000000;
}
.locate-div{
    margin-top: 60px;
    margin-left: 300px;

}
.key{
    font-size: 19px;
    line-height: 32px;
}
.ti1{
    
        font-size: 16px;
        font-weight: 600;
        padding: 16px 0;
        border-bottom: 1px solid #000;      
}
.title{
    margin-left: 130px;
}
.cont1{
    width: 100%;
    height: 291px; ;
}
.ss{
    margin-top:150px ;
}

/* /*glider slide* */
.slider-wrapper .image-list{
  display: grid;
  font-size: 0;
  overflow-x:auto;  
  grid-template-columns: repeat(10,1fr);

}
.slider-wrapper .image-list .image-item{
    width: 74px;
    height: 74px;
    object-fit: cover;
    margin-left: 80px;
    
}
/* .slider-wrapper .image-list ::-webkit-scrollbar{
    display: none;

} */

.slide-cont{
    display: flex;
    align-items: center;    
    justify-content: center;
    min-height: 95px;

    
}
.container{
    max-width: 800px;
    width: 100%;
    margin-left: 30px;

}
/* .container .slider-scrollbar{
    height: 24px;
    width: 100%;
    background: red;

}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
} */
.next {
    right: -23px;
    left: auto;}

.previous .next{
    
        opacity: .25;
        color: #666;
        cursor: default;
        position: absolute;}

.previous, .next{  background: 0 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    top: 30%;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17,.67,.83,.67), color .5s cubic-bezier(.17,.67,.83,.67);
}
.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.faq-section{
    height: 640px;
    width: 100%;
}  
.faq{
    margin-top: 200px;
    margin-left: 140px;
    color: #306598;

}.accordion-2 .title {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0;
    border-bottom: 1px solid #000;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    opacity: 1;
}
.accordion .title {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li {
    text-align: -webkit-match-parent;
}

.lead2{
    margin-left: 200px;
    margin-top: 20px;

    color: #000;

}
.project-gallery{
    height: 1272px;
}
.img-gallery{
    margin-left: 60px;
    
}
.imga{
    margin-left: 30px;
    margin-top: 20px;
}
.a{
margin-top: 20px;

}
.home-loan{
  max-height:  400px;
   width: 100%; 
}
.item{
    height:275px ;
    width:970px ;
    display: flex;
    /* padding: 50px; */
    /* margin-left: 400px; */
}
.bank-img{
    height: 163px;
    width: 170px;
    padding: 15px;
    box-shadow: 0px 0px 10px 3px #ccc;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bank{
    margin-left: 40px;

}
 .my-site{
    max-height: 900px;
    max-width: 100%;
    background-color: #f3f3f3;
    padding: 60px 0px;

 }
 .cont-container{
    margin-left: 60px;
    margin-left: 60px;
    font-size: 20px;
 }
 .schedule{
    display: flex;
    border: 5px solid #0886c7;
    padding: 20px 0px;
    align-items: center;
    
}
.visit{
    color: #0059a1;
    margin-bottom: 40px;
}
.visit-style{
    font-size: 16px;
  
}
 .last-image{
   float: left;
   padding: 20px;
 }
 
 .makeup{
    padding: 15px;
    margin-right: 15px;
    height: auto;
    border: none;
    font-size: 18px;
    color: #fff !important;
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    margin-top: 20px;
}
.last-part{
    height: 485px;
    width: 100%;
    color: #ffffff;
    background-color: #0059a1;
}
.launch-text{
    padding-top: 100px;
    margin-left: 70px;
}
.add-text{
    padding-top: 100px;
    margin-left: 370px;
    color: #ffffff;

}
.add-text{
    padding-top: 100px;
    padding-left: 300px;
    color: #ffffff

}
.add{
    padding-left: 360px;
    font-size: 18px;
    padding-top: 100px;
    color: #ffffff; 
}
.copyright{
    color: #fefefec6;
    padding-left: 370px; 
    font-size: 14px; 
    position: relative;
    top: 32px;  
}

